/* 重置瀏覽器默認樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #ffffff;
    --header-bg-color: #EFF5F1;
    --footer-bg-color:#88AD9B;
    --text-color: #49745F;
    --highlight-bg-color: #EFF5F1;
    --dark-bg-color:#6A9982;
    --highlight-text-color: #EFF5F1;
    --button-bg-color: #81BDA0;
    --button-hover-bg-color: #6A9982;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.1);
    height: 25vh;
}

header h1 {
    font-size: 3vw;
    margin: 2.5vw 3vw;
    flex: 1;
    font-family: 'Kavivanar';
    font-style: normal;
    align-self: flex-start;
}

nav {
    display: flex;
    margin: 2vw 3vw;/*元素的外邊距*/
    gap: 2vw;
    align-self: flex-end;
}

nav a {
    color: var(--text-color);
    font-size: 1.5vw;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline; /* 懸浮時顯示下底線 */
}

.report-header{
    background-color: #81BDA0;
    margin: 0vw;
}

.report-header h2{
    color: var(--highlight-text-color);
    font-size: 2.5vw;
    text-align: center; /* 使標題文字置中 */
    padding: 3vw 3vw 0vw 3vw ;
}

.report-section {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 1:2比例排列目錄與摘要 */
    gap: 20px; /* 兩欄之間的間距 */
    margin: 4vw 8vw 2vw 8vw;
}

/* 目錄的樣式 */
.report-directory {
    color: #7C8679;
    display: flex;
    flex-direction: column;  /* 縱向排列元素 */
    align-items: center;     /* 內容置中 */
    justify-content: center; /* 垂直置中 */
    padding: 2vw;
}

.report-directory h3 {
    margin-bottom: 15px;
    font-size: 1.5vw;
    font-weight: bold;
}

.directory-divider {
    width: 60%; /* 分隔線寬度 */
    height: 1px;
    color: #7C8679;
    margin-bottom: 15px;
}

.report-directory ul {
    list-style-type: none; /* 去掉項目符號 */
    padding-left: 0;
}

.report-directory li {
    font-size: 1.3vw;
}

/* 摘要部分的樣式 */
.report-summary {
    /* padding: 2vw; */
    border: 2px dashed #D0EFE0; /* 摘要框的虛線樣式 */
    border-radius: 1vw; /*圓角*/
    background-color: #FFFFFF; /* 摘要背景色 */
}

.report-summary h2 {
    display: inline-block; /* 根據內容寬度調整，避免整行背景色 */
    font-weight: bold;
    color: #3B515E; /* 摘要標題顏色 */
    background-color: #FEFDE6;
    border-radius: 1vw; /*圓角*/
    padding: 1vw 2vw;
    margin: -2vw 0vw 1.5vw 1vw;
}

.report-summary p {
    font-size: 1.3vw;
    color: #49745F;
    padding: 0vw 2vw;
}

.report-content {
    margin: 0vw 15vw; 
}

.report-content h2 {
    margin-bottom: 0.5vw;
}

.report-content pre { /*報告*/
    font-size: 1.3vw;
    white-space: pre-wrap; /* 使内容自动换行 */
    word-wrap: break-word; /* 允许长单词或URL地址换行 */
    margin-bottom: 1.5vw;
}

section {
    margin-bottom: 2vw;
}

.news{
    margin: 5vw 15vw 0vw 15vw; 
    /* border-radius: 1vw; /*圓角 */
}

.summary{
    margin: 5vw 15vw 5vw 15vw;
}

.date-selection {
    margin: 0vw;
    background-color: #81BDA0; /* 背景顏色 */
    padding-right: 15vw;
    padding-bottom: 1vw ;
    display: flex;
    justify-content: flex-end; /* 讓子元素靠右 */
    align-items: center; /* 垂直居中 */
}

.report-date {
    font-size: 1.2vw; /* 字體大小 */
    color: #eff5f1;
    display: inline-block; /* 使內邊距生效 */
}

.news h2, .summary h2{
    color: var(--text-color);
    font-size: 1.5vw;
    padding: 0px 0px 10px 0px;

}

.news-items, .summary-items {
    display: grid;
    gap: 10px;
}

.news-items {
    grid-template-columns: 1fr;
}

.news-item-light {
    font-size: 1.2vw;
    background-color: var(--highlight-bg-color);
    padding: 10px;
    border-radius: 4px;
}

.news-item-light a{
    color: #55826C;
    text-decoration: none;/*移除超連結的默認下劃線樣式*/
}

.news-item-light a:hover {/*設置懸停狀態的超連結樣式*/
    text-decoration: underline;
}

.news-item-dark{
    font-size: 1.2vw;
    background-color: var(--dark-bg-color);
    padding: 10px;
    border-radius: 4px;
}

.news-item-dark a{
    color: var(--highlight-text-color);
    text-decoration: none;/*移除超連結的默認下劃線樣式*/
}

.news-item-dark a:hover {/*設置懸停狀態的超連結樣式*/
    text-decoration: underline;
}

.summary-items {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.summary-item {
    font-size: 1.2vw;
    background-color: var(--dark-bg-color);
    color: var(--highlight-text-color);
    padding: 20px;
    border-radius: 4px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.summary-title {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 10px 0px;
    animation: fadeIn 2s ease-in-out;
}

.summary-content {
    text-align: left;
    animation: delay 10s;
    animation: fadeIn 2s ease-in-out;

}

.product-recommend {
    margin: 2.5vw 15vw 0vw 15vw;
    border: 2px dashed #6A9982; /* 虚线边框，颜色为 #6A9982 */
    border-radius: 10px; /* 圆角半径为 10px */ 
    padding: 2vw;
}

.product-recommend h2 {
    text-align: center;
    margin: 0vw 0vw 2vw 0vw;
}

.products {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 10px;
    padding: 0vw 10vw 2vw 10vw;
}

.product-item {
    display: contents;
    font-size: 1.2vw;
}

.product-item span:first-child {
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    background: #D0EFE0;
    padding: 0.8vw 1.8vw 0.8vw 1.8vw;
    margin: 0.5vw 0vw 0vw 0vw;
}

.product-item span:last-child {
    text-align: left;
    border-radius: 10px;
    background: #D0EFE0;
    padding: 0.8vw;
    padding-left: 1vw;
    margin: 0.5vw 0vw 0vw 0vw;
}

.product-rank-button {
    text-align: center;
    margin: 4vw 15vw 4vw 15vw;
}

.btn {
    padding: 1.5vw 3vw 1.5vw 3vw;
    text-align: center;
    font-size: 1.5vw;
    color: #49745F;
    background: #A7DAC1;
    border-radius: 100px;
    text-decoration: none;
}

.btn:hover {
    color: #EFF5F1;
    background-color: #6A9982;
}

footer {
    background-color: var(--footer-bg-color);
    margin: 4vw 0vw 0vw 0vw;
    padding: 2.5vw 15vw 2.5vw 15vw;
    text-align: center; /* 将整个页脚内容置中 */
}

.footer-title {
    font-size: 1.5vw;
    text-align: center; /* 标题置中 */
    color: var(--text-color);
}

.footer-item {
    padding: 10px;
    color: var(--text-color);
    font-size: 1vw; /* 确保字体大小一致 */
}

.footer-item .main-link {
    margin: 0 0.5em; /* 链接之间的间距 */
    color: var(--text-color);
    text-decoration: none; /* 移除超链接的默认下划线样式 */
}

.footer-item .main-link:hover {
    text-decoration: underline; /* 设置悬停状态的超链接样式 */
}

.disclaimer {
    font-size: 1vw;
    color: var(--text-color);
    margin-top: 1vw;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(106, 153, 130, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup {
    background-color: var(--highlight-bg-color);
    /* margin: 10vw 15vw 10vw 15vw; */
    padding: 3vw 2vw 3vw 2vw;
    border-radius: 1vw;
    text-align: center;
}

.popup h2 {
    font-size: 2.5vw;
    color: var(--text-color);
}

.popup p {
    font-size: 1vw;
    color: var(--text-color);
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.popup .buttons button {
    background-color: var(--button-bg-color);
    color: var(--highlight-bg-color);
    border: none;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 0.5vw;
}

.popup .buttons button:hover {
    background-color: var(--button-hover-bg-color);
}

  
.fund-info {
    /*gap: 20px;*/
    display: flex;
    margin: 5vw 12vw 5vw 12vw;
}

.fund-details {
    flex: 5;
    background-color: #eff5f1;
    display: flex;
    flex-direction: column;

    overflow: hidden; 
    text-overflow: ellipsis;/*溢出的文本顯示為省略號*/
    white-space: nowrap;/*不允許文本換行*/
}

.fund-header {
    background-color: #a7dac1;
    height: 20vh;
    justify-content: flex-start;/*左側對齊*/
    box-shadow: none;
}

.fund-header-content {
    display: flex;
    margin: 1vw;
    align-items: center;
    width: 100%;
}

.fund-number {
    background-color: #6a9982;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    color: #fff;
    width: 4.5vw;
    height: 4.5vw;
    display: flex;
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中 */
    font-size: 2.5vw;
}
.fund-name {
    flex: 1;  /* 讓 .fund-name 佔滿剩餘空間 */
    padding-left: 1vw;
    align-items: center; /* 垂直置中 */
    white-space: pre-wrap; /* 使内容自动换行 */
    word-wrap: break-word; /* 允许长单词或URL地址换行 */
    color: #49705d;
    font-size: 2vw;
}

.fund-stats {
    display: flex;
    padding: 1vw;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: #49745f;
}

.stat-row {
    display: flex;
    width: 100%;
    padding: 0vw 4vw;
}

.stat-item {
    display: flex;
    flex-direction: column;
    flex: 1;/* 子元素均分可用空间 */
    padding: 1vw 2vw;
    align-items: start;
}

.stat-label {
    font-size: 1.2vw;
    font-weight: 800;
    color: #678ca3;
    align-items: start;
}

.stat-value {
    font-size: 2vw;
    align-items: start;
}

.divider {
    align-self: stretch;
    height: 1px;
    color: #49745f;
}

.purchase-button {
    background-color: #6a9982;
    color: #f5f5ef;
    text-align: center;
    padding: 2vw;
    font-size: 2.5vw;
    text-decoration: none; /* 移除超链接的默认下划线样式 */
}

.purchase-button:hover {
    text-decoration: underline; /* 设置悬停状态的超链接样式 */
}

.recommendation {
    flex: 5;
    padding: 2vw;
    background-color: #eff5f1;
    /* flex-grow: 1; */
    color: #49745f;
    text-align: left;
    font-size: 1.6vw;
}

.product-description {
    margin-bottom: 1vw;
}

.product-description::before {
    content: "產品簡介:";
    display: block;
    font-size: 1.8vw; 
    font-weight: bold; 
    margin-bottom: 0.5vw;
}

.recommendation-reason::before {
    content: "推薦原因:";
    display: block;
    font-size: 1.8vw; /* 修改"推薦原因:"的字体大小 */
    font-weight: bold; /* 可选：使"推薦原因:"的字体加粗 */
    margin-bottom: 0.5vw; /*设置"推薦原因:"与实际内容之间的间距*/
}