/* 重置瀏覽器默認樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #ffffff;
    --header-bg-color: #EFF5F1;
    --footer-bg-color:#88AD9B;
    --text-color: #49745F;
    --highlight-bg-color: #EFF5F1;
    --dark-bg-color:#6A9982;
    --highlight-text-color: #EFF5F1;
    --button-bg-color: #81BDA0;
    --button-hover-bg-color: #6A9982;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.1);
    height: 25vh;
}

header h1 {
    font-size: 2.5vw;
    margin: 2.5vw 3vw;
    flex: 1;
    align-self: flex-start;
}

nav {
    display: flex;
    margin: 2vw 3vw;/*元素的外邊距*/
    gap: 2vw;
    align-self: flex-end;
}

nav a {
    color: var(--text-color);
    font-size: 1.5vw;
}

/* main {
    padding: 2vw;
    margin: 0vw 10vw; 
} */

.report-header{
    background-color: #81BDA0;
    margin: 0vw;
}

.report-header h2{
    color: var(--highlight-text-color);
    font-size: 3vw;
    text-align: center; /* 使標題文字置中 */
    padding: 2vw ;
}

.report-content pre { /*報告*/
    font-size: 1.25vw;
    white-space: pre-wrap; /* 使内容自动换行 */
    word-wrap: break-word; /* 允许长单词或URL地址换行 */
}

section {
    margin-bottom: 2vw;
}

.news, .stock-market{
    margin: 5vw 15vw 0vw 15vw; 
    /* border-radius: 1vw; /*圓角 */
}

.summary{
    margin: 5vw 15vw 5vw 15vw;
}

.stock-market{
    margin-bottom: 10vw;
}

.date-selection, .report-content, .product-recommend{
    margin: 2.5vw 15vw 0vw 15vw; 
}

.news h2, .summary h2, .stock-market h2 {
    color: var(--text-color);
    font-size: 1.5vw;
    padding: 0px 0px 10px 0px;

}

.news-items, .summary-items, .stock-market-items {
    display: grid;
    gap: 10px;
}

.news-items {
    grid-template-columns: 1fr;
}

.news-item-light {
    font-size: 1.2vw;
    background-color: var(--highlight-bg-color);
    padding: 10px;
    border-radius: 4px;
}

.news-item-light a{
    color: #55826C;
    text-decoration: none;/*移除超連結的默認下劃線樣式*/
}

.news-item-light a:hover {/*設置懸停狀態的超連結樣式*/
    text-decoration: underline;
}

.news-item-dark{
    font-size: 1.2vw;
    background-color: var(--dark-bg-color);
    padding: 10px;
    border-radius: 4px;
}

.news-item-dark a{
    color: var(--highlight-text-color);
    text-decoration: none;/*移除超連結的默認下劃線樣式*/
}

.news-item-dark a:hover {/*設置懸停狀態的超連結樣式*/
    text-decoration: underline;
}

.summary-items {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.summary-item {
    font-size: 1.2vw;
    background-color: var(--dark-bg-color);
    color: var(--highlight-text-color);
    padding: 20px;
    border-radius: 4px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.summary-title {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 10px 0px;
    animation: fadeIn 2s ease-in-out;
}

.summary-content {
    text-align: left;
    animation: delay 10s;
    animation: fadeIn 2s ease-in-out;

}

footer {
    background-color: var(--footer-bg-color);
    padding: 2.5vw 10vw 2.5vw 10vw;
    text-align: center; /* 将整个页脚内容置中 */
}

.footer-title {
    font-size: 1.5em;
    text-align: center; /* 标题置中 */
}

.footer-item {
    padding: 10px;
    color: var(--text-color);
    font-size: 1em; /* 确保字体大小一致 */
}

.footer-item .main-link {
    margin: 0 0.5em; /* 链接之间的间距 */
    color: var(--text-color);
    text-decoration: none; /* 移除超链接的默认下划线样式 */
}

.footer-item .main-link:hover {
    text-decoration: underline; /* 设置悬停状态的超链接样式 */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(106, 153, 130, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup {
    background-color: var(--highlight-bg-color);
    /* margin: 10vw 15vw 10vw 15vw; */
    padding: 2vw;
    border-radius: 1vw;
    text-align: center;
}

.popup h2 {
    font-size: 2.5vw;
    color: var(--text-color);
}

.popup p {
    font-size: 1vw;
    color: var(--text-color);
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.popup .buttons button {
    background-color: var(--button-bg-color);
    color: var(--highlight-bg-color);
    border: none;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    border-radius: 0.5vw;
}

.popup .buttons button:hover {
    background-color: var(--button-hover-bg-color);
}
