:root {
    --main-bg-color: #F5F5EF;
    --header-bg-color: #D0EFE0;
    --text-color: #49745F;
    --highlight-bg-color: #EFF5F1;
    --highlight-text-color: #fff;
    --button-bg-color: #81BDA0;
    --button-hover-bg-color: #6A9982;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: var(--header-bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.1);
    height: 20vh;
}

header h1 {
    font-size: 5vw;
    margin: 2vw 3vw;
    flex: 1;
    align-self: flex-start;
}

nav {
    display: flex;
    margin: 2vw 3vw;
    gap: 2vw;
    align-self: flex-end;
}

nav a {
    color: var(--text-color);
    font-size: 1.5vw;
}

main {
    padding: 2vw;
    margin-top: 20vh;
}

section {
    margin-bottom: 2vw;
}

.news, .summary {
    background-color: var(--highlight-bg-color);
    padding: 2vw;
    border-radius: 1vw;
}

.news h2, .summary h2, .stock-market h2 {
    color: var(--text-color);
    font-size: 2vw;
}

.news-items, .summary-items {
    display: grid;
    gap: 10px;
}

.news-items {
    grid-template-columns: 1fr;
}

.news-item {
    background-color: #517b69;
    color: var(--highlight-text-color);
    padding: 10px;
    border-radius: 4px;
}

.summary-items {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.summary-item {
    background-color: #517b69;
    color: var(--highlight-text-color);
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.stock-market {
    margin-top: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(106, 153, 130, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup {
    background-color: var(--highlight-bg-color);
    padding: 2vw;
    border-radius: 1vw;
    text-align: center;
}

.popup h2 {
    font-size: 2.5vw;
    color: var(--text-color);
}

.popup p {
    font-size: 2vw;
    color: var(--text-color);
}

.popup .buttons button {
    background-color: var(--button-bg-color);
    color: var(--highlight-bg-color);
    border: none;
    padding: 1vw 2vw;
    margin: 1vw;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 0.5vw;
}

.popup .buttons button:hover {
    background-color: var(--button-hover-bg-color);
}
